@import src/styles/variables

.header
  width: 100%
  display: flex
  justify-content: center
  background-color: $secondary-color

  .headerContainer
    width: 100%
    max-width: $max-width
    display: grid
    grid-template-columns: 1fr 1fr

  .logoContainer
    width: 100%
    display: flex
    justify-content: flex-start

    a
      display: flex
      justify-content: flex-start
      align-items: center
      color: $tertiary-color

    .logo
      width: 4rem
      height: auto
      animation: App-logo-spin infinite 20s linear

  .navContainer
    display: flex
    justify-content: flex-end

    .link
      position: relative
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      color: $tertiary-color
      padding: 0 1rem
      margin-right: 2rem

      &:hover
        color: $primary-color
        background-color: rgba($secondary-color, .5)

      &:last-child
        margin-right: unset

      .shopingCart, .gitHub, .home
        font-size: 1.5rem

      .shopingCart
        margin-bottom: .5rem

      .count
        position: absolute
        right: .5rem
        bottom: 1rem
        background-color: $primary-color
        color: $tertiary-color
        border-radius: 50%
        padding: .1rem .4rem

@keyframes App-logo-spin
  from
    transform: rotate(0deg)

  to
    transform: rotate(360deg)