@import ../variables
@import ../includeMedia

.searcher
  width: 100%
  display: flex
  justify-content: flex-end

  .form
    display: flex

    .input
      padding: 0 .5rem
      border-radius: .5rem
      border: solid 1px $secondary-color
      margin-right: 1rem

    .filters
      display: flex
      flex-direction: column

      .filter
        display: flex
        align-items: center
        color: $secondary-color
        margin-bottom: .5rem

        &:last-child
          margin-bottom: unset

        input
          margin-right: .5rem

@include media("<=phone", "portrait")
  .searcher
    justify-content: center

@include media(">=tablet", "<=desktop", "portrait")
  .searcher
    padding-right: 1.5rem